
  .eventForm {
    padding: 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    background: rgb(0, 0, 0, 0.5);
  }

  .gap-10 {
    gap: 0px;
  }


 
  
  .table th {
    font-size: 12px;
    font-family: 'poppins-bold';
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    white-space: pre;
  }
  
  .table td {
    font-size: 14px;
    padding: 12px;
    text-align: left;
    font-family: 'poppins-regular';
    border-bottom: 1px solid #ddd;
    white-space: pre;
  }
  
  .table td:nth-child(2) {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .eventForm {
      width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    .eventForm {
      width: 100%;
      padding: 15px;
    }
  }

@media (min-width: 766px) {
  .gap-10 {
    gap: 10px;
  }
}