.accordion-button {
    transition: background-color 0.3s ease;
  }
  
  .accordion-button.active {
    background-color: lightcoral;
    color: white;
  }
  
  .accordion-icon {
    margin-left: auto;
  }
  .accordion-button {
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove any potential focus box shadow */
  }
  
  .accordion-button:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: none; /* Remove focus box shadow */
  }